*{
	padding: 0;
	border: 0;
	margin: 0;
}

a{
	color: white;
}

.header{
	width: 100%;
	background-color: black;
	z-index: 3;
	position: fixed;
}

.header ul{
	list-style: none;
	background-color: black;
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	overflow: hidden;
}

.header ul a{
	display: block;
	padding: 20px;
	text-decoration: none;
}

.header ul li a{
	text-decoration: none;
	color: white;
	font-size: 18 px;
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.header ul li a:hover{
	border-bottom: 2px white solid;
}

.header .logo{
	position: fixed;
	font-size: 12px;
	cursor: pointer;
	margin: 13px 20px;
}

.header .menu{
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}

.header .menu-icon{
	padding: 28px 20px;
	position: relative;
	float: right;
	cursor: pointer;
}

.header .menu-icon .nav-icon{
	background: white;
	display: block;
	height: 2px;
	width: 18px;
	position: relative;
	transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
	background: white;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 5px;
	transition: all .2s ease-out;
}

.header .menu-icon .nav-icon:after{
	background: white;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: -5px;
	transition: all .2s ease-out;
}

.header .menu-btn{
	display: none;
}

.header .menu-btn:checked ~ .menu{
	max-height: 350px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
	transform: rotate(-45deg);
	top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
	transform: rotate(45deg);
	top: 0;
}

body, html {
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: white;
}

.pimg1{
	postion: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	/*
		fixed = parallax
		scroll= normal
	*/	
	background-attachment: fixed;
}

.pimg2, .pimg3{
	postion: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	/*
		fixed = parallax
		scroll= normal
	*/	
	background-attachment: fixed;
}

.pimg4{
	postion: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	/*
		fixed = parallax
		scroll= normal
	*/	
	background-attachment: fixed;
}

.pimg5{
	postion: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	/*
		fixed = parallax
		scroll= normal
	*/	
	background-attachment: fixed;
}	

.pimg1{
	background-image:url('../images/oil-well.jpg');
	min-height: 100%;
}

.pimg2{
	background-image:url('../images/wheat.jpg');
	min-height: 400px;
}

.pimg5{
	background-image:url('../images/wheatfield.jpg');
	min-height: 400px;
}

.section-light{
	background-color: ghostwhite;
	color: black;
	font-family: sans-serif;
	letter-spacing: 1px;
	text-align: center;
	padding: 50px 80px;
}

#boxes{
	background-color: black;
	color: white;
	font-family: sans-serif;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.h2{
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
}

#boxes .container .box{
	float: left;
	text-align: center;
	width: 47%;
	padding: 0 10px 10px 10px;
}

#boxes .container .box a{
	text-decoration: none;
}

.pimg4{
	background-image:url('../images/okcwater.jpg');
	min-height: 100%;
}

.ptext{
	padding-top: 270px;
	top: 50%;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
}


.ptext .border .trans{
	background-color: transparent;
}

.ptext2{
	position: center;
	padding-top: 100px;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.footer{
	background-color: black;
	padding: 0;
	width: 100%;
	overflow: auto;
	font-family: sans-serif;
	text-transform: uppercase;
	height: 70px;
}

.footer ul{
	margin-top: 0;
	padding-top: 10px;
	list-style: none;
	font-size: 15px;
	line-height: 1.6em;
	margin-bottom: 0;
	text-align: center;
	letter-spacing: 2px;
}

.footer ul li a{
	color: white;
	text-decoration: none;
}

.footer ul li{
	display: inline-block;
	padding: 0 20px;
}

.footer ul li a:hover{
	opacity: .5;
}

.copyright{
	text-align: center;
	font-size: 13px;
	color: beige;
}

.linkimg{
	background-image:url('../images/shiplapwood.jpg');
	min-height: 100%;
	postion: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	/*
		fixed = parallax
		scroll= normal
	*/	
	background-attachment: fixed;
}

.aboutus{
	width: 40%;
	float: left;
	margin: 10% 0 10% 10%;
	color: white;
	font-family: sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
}

.sidebar{
	width: 26%;
	float: right;
	margin: 15% 10% 4% 4%;
}

.h1 {
	text-align: center;
	font-size: 27px;
	letter-spacing: 1px;
}

.mudlogimg{
	width: 50%;
	padding: 10px 25% 10px 25%;
}

.mudlogging{
	text-align: center;
	color: white;
	padding-top: 100px;
}

.or{
	text-align: center;
	text-transform: uppercase;
	padding: 5px;

}

.list{
	text-align: left;
	padding: 5%;
	font-weight: 400;
	font-size: 16px;
	font-family: sans-serif;
	letter-spacing: 1px;
}

.h1ml{
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	margin-bottom: 20px;
}

.pmudlog{
	padding: 0 5% 0% 5%;
}

.p-geo{
	padding: 0 5% 0% 5%;
	margin: 2% 10% 0 10%;
}

.container-contact{
	width: 400px;
	height: 100vh;
	font-family: sans-serif;
	padding: 100px 0 0 70px;
	overflow: hidden;
	justify-content: center;
}

.form-group{
	margin-bottom: 1.5em;
}

.form-group:focus-within{
	transform: scale(1.1,1.1);
}

.form-label{
	font-size: .75em;
	color: white;
	display: block;
	opacity: 1;
}

.form-control{
	box-shadow: none;
	border-radius: 0;
	border-color: #ccc;
	border-style: none none solid none;
	width: 90%;
	font-size: 1.25em;
	transition: all .6s;
}

.form-control::placeholder{
	opacity: .5;
}

.form-control:focus{
	box-shadow: none;
	border-color: darkblue;
	outline: none;
}

.btn{
	background: 0 0 white;
	border: 1px solid lightgrey;
	border-radius: 3px;
	color: black;
	font-size: 1em;
	padding: 10px 50px;
	text-transform: uppercase;
}

.btn:hover{
	border-color: darkblue;
	border: 2px solid darkblue;
	color: darkblue;
}

textarea{
	resize: none;
}

.container-thankyou{
	padding: 100px 50px 50px 50px;
	height: 100vh;
	text-align: center;
}

.goback{
	text-align: center;
}

.goback-a{
	color: orangered;
}

@media screen and (max-width: 768px){
	.pimg1, .pimg2, .pimg3, .pimg4{
		background-attachment: scroll;
		width: auto;
		max-width: 100%;
		height: auto;
	}

	#boxes .container .box{
	float: left;
	text-align: center;
	width: 35%;
	padding: 10px;
	align-content: center;
}

	.linkimg{
	background-image:url('../images/shiplapwood.jpg');
	min-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	width: 100%;

	/*
		fixed = parallax
		scroll= normal
	*/	
	background-attachment: scroll;
}
	.aboutus{
		text-align: center;
		margin-top: 20%;
		color: white;
		font-family: sans-serif;
		font-size: 18px;
		letter-spacing: 1px;
		width: 80%;
}

	.sidebar{
		width: 84%;
		margin: 0;
		margin-bottom: 25px;
	}

	.mudlogging{
	text-align: center;
	color: white;
	width: 100%;
	margin: 0 30px 30px 0;
	}

	.list{
	font-size: 14px;
	font-family: sans-serif;
	}
}

.geo{
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	margin-bottom: 20px;
	color: white;
	padding-top: 100px;
}

.p-geo{
	padding: 0 5% 0% 5%;
}

.geoimg{
	width: 50%;
	padding: 10px 25% 10px 25%;
}

.container-contact{
	width: 400px;
	height: 100vh;
	font-family: sans-serif;
	padding: 100px 0px 0px 40px;
	overflow: hidden;
}

@media(min-width: 48em){
	.header li{
		float: left;
	}
	.header li a{
		padding: 15px 30px;
		margin-right: 30px;
	}
	.header .menu{
		clear: none;
		float: right;
		max-height:none;
	}
	.header .menu-icon{
		display: none;
	}
}
